### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.kotlin

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# Ignorar arquivos do IntelliJ
.idea/
*.iml


# Ignorar o arquivo do banco de dados SQLite
*.db
*.sqlite

# Ignorar arquivos compilados soltos (caso saiam das pastas bin/ ou out/)
*.class

# Ignorar arquivos de log (como você tem as bibliotecas do SLF4J, pode ser que logs sejam gerados no futuro)
*.log